<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit">Войти</button>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <a href="/registration">Нет аккаунта? Зарегистрироваться</a>
    <a href="/"><p>Обратно к выбору</p></a>
</body>
</html>