{% extends "task4/menu.html" %}

{% block pagename %}
    {{block.super}}
    <h1> Cats page </h1>
{% endblock  %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница с котиками</title>
</head>

<body>
    {%block content%}
        {{block.super}}
        {% for i in cats %}
            <p1>{{ i }}</p1>
        {% endfor %}
    {%endblock%}

    {% block menu %}
        {{block.super}}
    {% endblock  %}
</body>
</html>