
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Зарегистрироваться">
        {% if info.err_pas %}
        <p> Пароли не совпадают </p>
        {% endif %}
        {% if info.err_age %}
        <p> Вы должны быть старше 18 </p>
        {% endif %}        
        {% if info.err_name %}
        <p> Пользователь с таким ником существует </p>
        {% endif %}
    </form>
</body>
</html>
